@model CategoryRequestModel 

<form asp-action="CreateCategory" asp-controller="Category" method="post">
    <br />
    <div class="form-group">
        <label>
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </label>

        <input asp-for="CategoryName" class="form-control" placeholder="isim giriniz" />
    </div>

    <br />


    <div>
        <span asp-validation-for="Description" class="text-danger"></span>

        <input asp-for="Description" class="form-control" placeholder="Aciklama giriniz"/>
    </div>

    <br />
    <button>Ekle</button>


</form>
